.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 20px; /* Spacing between navbar items */
  }
  
  .navbar li:last-child {
    margin-right: 0; /* Remove margin for the last item */
  }
  
  .navbar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .navbar button:hover {
    background-color: #0056b3; /* Darken the button slightly on hover */
  }
  