.list-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  background-color: #181818;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;

}

.input-group {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  flex-direction: column;
  align-items: left;
}

.list-container label {
  margin: 10px;
  font-size: 17px;
  flex: 1; /* Adjusts the width of the label to take 1 part of the flex container */
  text-align: left;
}

.list-container input,
.list-container select {
  flex: 2; /* Adjusts the width of the input/select to take 2 parts of the flex container */
  padding: 8px;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  background-color: #262626;
  color: white;
}


.cool-button {
  padding: 10px;
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin: 10px;
  font-size: 15px;
}

.cool-button:hover {
  background-color: #292929;
}

.application-details-grid {
  display: grid;
  grid-template-columns: auto 1fr; /* Creates two columns: one for labels and one for info */
  gap: 10px; /* Space between rows and columns */
  align-items: center; /* Align items vertically */
}

.detail-label {
  font-weight: bold; /* Make labels bold */
  color: #cccccc; /* Lighter text color for labels */
}

.detail-info {
  margin-left: 15px; /* Add some space between the label and the info */
  color: #ffffff; /* White text color for info for better readability */
}

.application-item {
  background-color: #202020;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.delete-button {
  padding: 8px 16px;
  background-color: #d82a25;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100px;
  align-self: flex-end; /* Align the button to the right (flex-end of the column) */
  margin-top: 10px; /* Adds some space above the button */
}

.delete-button:hover {
  background-color: #ec4e4a;
}



